body {
  background-color:#66a3ff;
  margin:15px 20px 20px 20px;
}


h1 {
  font-family:Georgia, serif;
  text-align: center;
  font-size: 50px;
}


h2 {
  margin: 10px 15px 15px 15px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
}


p {
  margin: 20px 25px 25px 25px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}


ul {
  margin: 15px 20px 20px 20px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}
